<h1>Welcome to Band Tracker</h1>

<% if @bands.any?() %>
  <ul>
    <% @bands.each() do |band| %>
    <li><a href='/bands/<%= band.id %>'><%= band.name() %></a></li>
  </ul>
<% end %>
<% else %>
    <p>Add some bands to start tracking!</p>
<% end %>

<form action="/bands" method="post">
  <label for='name'>Name:</label>
  <input id='name' name='name' type='text'>
  <button type="submit">Add Band</button>
</form>
