<h3><%= @venue.name() %></h3>

<h4>List of bands playing at this venue:</h4>
<ul>
  <% @venue.bands.each do |band| %>
    <li> <%= band.name %></li>
    <% end %>
</ul>

<h5><a href='/'>Return to main page</a></h5>
