<h3>Welcome to the Venues List</h3>

<% if @venues.any?() %>
  <ul>
    <% @venues.each() do |venue| %>
    <li><a href='/venues/<%= venue.id %>'><%= venue.name() %></a></li>
  </ul>
<% end %>
<% else %>
    <p>Add some venues!</p>
<% end %>

<form action="/venues" method="post">
  <label for='name'>Name:</label>
  <input id='name' name='name' type='text'>
  <button type="submit">Add Venue</button>
</form>
